audio{
    padding: 300px;
}
audio::-webkit-media-controls-panel{
    background-color: cornflowerblue;
}
audio::-webkit-media-controls-play-button{
    background-color: lightblue;
    border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display{
    color: #333;
}
audio::-webkit-media-controls-time-remaining-display{
    color: #333;
}
audio::-webkit-media-controls-timeline{
    border-radius: 40px;
    background-color: lightblue;
}
audio::-webkit-media-controls-volume-slider{
    background-color: lightblue;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
audio::-webkit-media-controls-mute-button{
    background-color: lightblue;
    border-radius: 50%;
}